<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'img/logo-icon-new.svg'%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>Statistika</title>
</head>
<body>
     <header class="head">
        <div class="head__menu container ">
            <nav>
                <a href="{% url 'index' %}" class="logo"><img src="{% static 'img/6182235a66337.svg' %}" alt=""></a>
                <p>|</p>
                <ul>
                    <li><a href="{% url 'index' %}">{% trans 'Bosh sahifa' %}
                    </a></li>
                    <li><a href="/{{LANDUAGE_CODE}}/news/">{% trans 'Yangiliklar' %}
                    </a></li>
                    <li><a href="/{{LANDUAGE_CODE}}/media/">{% trans 'Maktab hayoti' %}
                    </a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="/{{LANDUAGE_CODE}}/jurnal/">{% trans 'Jurnal' %}
                    </a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li><a href="/{{LANDUAGE_CODE}}/room/">{% trans 'Statistika' %}
                    </a></li>
                    {% endif %}
                    <li><a href="/{{LANDUAGE_CODE}}/contact/">{% trans 'Aloqa' %}</a></li>
                </ul>
            </nav>
            <div class="head__menu-join">
                <div class="drop-down"  style="margin-left:15px; margin-bottom:5px;">

                  {% get_current_language as current_language %}
                  {% get_available_languages as available_languages %}
                  {% get_language_info_list for available_languages as langs %}

                  <button class="btn badge bg-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                   {{current_language}}
                  </button>
                  <ul class="dropdown-menu">
                    {% for i in langs %}
                    <li><a class="dropdown-item" href="/{{i.code}}/room/">{{i.name_local}}</a></li>
                    {% endfor %}

                  </ul>
                </div>

            </div>

        </div>

    </header>


    <section class="statistics ">
        <div id="subheader" class="container">
            <h2>{% trans "Hisobot"%}: {% trans "Sinflar"%}</h2>
            <div class="toolbox">
                
            </div>
            <div class="toolbox clear">
                <ul class="toolbar">
                    
                    
                    
                   
                    <li class="r ">
                        <a href="#" id="excelButton" title="Excel dasturiga eksport qilish (ko‘chirish)">
                            <img src="{% static 'img/excel.png'%}">{% trans "Yuklab olish"%}
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="statistics__sidebar ">
                <div class="cc">
                        <ul class="reports-list blt-list">
                            
                            <li class="blt blt-chart-bar blt-chart-bar_uz">
                                <ul>
                                    <li class="">
                                        <a href="/{{LANDUAGE_CODE}}/room/" class="" title="Sinflar">
                                            <div class="active">{% trans "Sinflar"%}</div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/plis/" class="" title="O‘quvchilar">
                                            <div >{% trans "O‘quvchilar"%}</div>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </div>
            </div>
            <div class="col34" id="report_wrapper">
                <div class="panel blue2">
                    <div class="rounded">
                        <div class="cc">

                            <div class="row2">
                                <label class="f">{% trans "Sinf"%}</label>
                                <div class="f">
                                    <ul class="classes l">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="#" class="green"  title="5-Green">
                                                        5-Green

                                                    </a>
                                                </li>
                                                <hr class="hr2">
                                                <li>
                                                    <a href="#" title="5-Blue">
                                                        5-Blue

                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <hr class="hr1">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="#" class="green"  title="6-Green">
                                                        6-Green
                                                    </a>
                                                </li>
                                                <li>
                                                        <hr class="hr2">
                                                    <a href="#" title="6-Blue">
                                                        6-Blue
                                                    </a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <hr class="hr1">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="#" class="green"  title="7-Green">
                                                        7-Green

                                                    </a>
                                                </li>
                                                <hr class="hr2">
                                                <li>
                                                    <a href="#" title="7-Blue">
                                                        7-Blue

                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <hr class="hr1">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="#" class="green"  title="8-Green">
                                                        8-Green

                                                    </a>
                                                </li>
                                                <hr class="hr2">
                                                <li>
                                                    <a href="#" title="8-Blue">
                                                        8-Blue

                                                    </a>
                                                </li>
                    
                                            </ul>
                                        </li>
                                        <hr class="hr1">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="#" class="green"  title="9-Green">
                                                        9-Green

                                                    </a>
                                                </li>
                                                <hr class="hr2">
                                                <li>
                                                    <a href="#" title="9-Blue">
                                                        9-Blue

                                                    </a>
                                                </li>
                                                
                                            </ul>
                                         </li>
                                         <hr class="hr1">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="#"  class="green" title="10-Green">
                                                        10-Green

                                                    </a>
                                                </li>
                                                <hr class="hr2">
                                                <li>
                                                    <a href="#" title="10-Blue">
                                                        10-Blue

                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <hr class="hr1">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="#"  class="green" title="11-Green">
                                                        11-Green

                                                    </a>
                                                </li>
                                                <hr class="hr2">
                                                <li     >
                                                    <a href="1" title="11-Blue">
                                                        11-Blue

                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <hr class="hr1">
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="row2">
                                <label class="f">{% trans "Davrlar"%}</label>
                                <div class="f">
                                    <ul class="switch l">
                                        <li>
                                            <a href="#" title="...davr uchun baholarni ko‘rish">
                                                1 chorak
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="#" title="...davr uchun baholarni ko‘rish">
                                                2 chorak
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="...davr uchun baholarni ko‘rish">
                                                3 chorak
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="...davr uchun baholarni ko‘rish">
                                                4 chorak
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="...davr uchun baholarni ko‘rish">
                                                Yilik
                                            </a>
                                        </li>
                                        
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        
                            <form>
                                
                                <div>
                                <a href="#">
                                    <input type="button" class="button reports_panel_button" value="{% trans 'Hisobot qurish'%}" id="build_report_button">

                                    </a>
                                </div>
                            </form>
                        <div class="clear"></div></div>
                    </div>
                    
                </div>
                <div id="reportPlaceHolder" style="">

<!--                    <div class="row2">-->
<!--                        <div>-->
<!--                            <label>{% trans "Sinf rahbari"%}</label>-->
<!--                            <a href="#" class="u" title="Ushbu foydalanuvchining sahifasi">Sotvoldiyeva Iroda Anvarovna</a>-->
<!--                        </div>-->
<!--                    </div>-->
                <div class="row2">
                    <div>{% trans "Sinfning umumiy o‘rtacha balli"%}: <b>&nbsp;</b></div>
                </div>
                
                <br>
                <table id="resultsTable" class="grid gridLines vam marks">
                    <thead>
                        <tr>
                            <th width="1%">№</th>
                            <th class="sortable" data-sort="string">{% trans "Familiya"%}, {% trans "Ism"%}</th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Adabiyot</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Algebra</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Biologiya</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Davlat va huquq<br>asoslari</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Fizika</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Geografiya</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Geometriya</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Informatika va <br>axborot texnolo</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Ingliz tili</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Iqtisodiyot</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Jaxon tarixi</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Jismoniy<br>tarbiya</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Kimyo</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">O‘zbekiston<br>tarixi</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Ona tili</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Rus tili</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Tarbiya</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Tasviriy sanʼat<br> va chizmachili</span>
                                </th>
                                <th class="rotated-td">
                                    <span class="rotated-word">Texnologiya</span>
                                </th>
                            <th>O‘rtacha ball</th>
                            <th class="sortable" data-sort="rating-report">Reyting</th>
                        </tr>
                    </thead>
                    <tbody>
                
                            <tr>
                                <td class="tac">1</td>
                                <td class="tac light" nowrap="nowrap" style="text-align: inherit">
                                    <a class="u" title="O‘quvchining baholari sahifasiga o‘tish" href="#">Abdunazarova M.</a>
                                </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                    <td class="tac" nowrap="nowrap">
                                            &nbsp;
                                    </td>
                                <td class="tac">
                                    &nbsp;
                                </td>
                                <td class="tac">
                                    &nbsp;
                                </td>
                            </tr>


                    </tbody>
                    <tfoot>
                        <tr class="strong">
                            <td colspan="2" class="inverse tac" style="text-align: inherit">Fan bo‘yicha o‘rtacha ball</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                            <td class="inverse tac">&nbsp;</td>
                
                        </tr>
                        <tr class="strong">
                            <td colspan="2" class="inverse tac" style="text-align: inherit">Fanlar bo‘yicha bilimlar sifati foizi</td>
                                <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                    <td class="inverse tac">&nbsp;</td>
                
                        </tr>

                    </tfoot>
                </table>
                <br>
                
                
                
                
                
                </div>
                
            </div>
           
        </div>
    </section>




    



























    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js'%}"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>